---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Resultados from "../components/Resultados.astro";
import ProblemaSolucion from "../components/ProblemaSolucion.astro";
import Servicios from "../components/Servicios.astro";
import Faceless from "../components/Faceless.astro";
import Especializacion from "../components/Especializacion.astro";
import Proceso from "../components/Proceso.astro";
import Entregables from "../components/Entregables.astro";
import ParaQuien from "../components/ParaQuien.astro";
import FAQ from "../components/FAQ.astro";
import Conversion from "../components/Conversion.astro";
import content from "../content/es.json";
---

<Layout title={content.site.title} description={content.site.description || undefined} includeFaqSchema>
  <Header />
  <main id="main-content">
    <Hero />
    <Resultados />
    <ProblemaSolucion />
    <Servicios />
    <Faceless />
    <Especializacion />
    <Proceso />
    <Entregables />
    <ParaQuien />
    <FAQ />
    <Conversion />
  </main>
</Layout>
